notes_images*
Notes.ipynb
__pycache__*
.vscode*
tidigits.tgz
.vscode/
Lab 3/tidigits/tidigits
/Lab 3/Rakin/tidigits
Lab 3/lab2_proto.py
Lab 3/lab2_tools.py
Lab 3/Rakin/lab2_proto.py
Lab 3/Rakin/lab2_tools.py
Lab 3/Rakin/prondict.py
Lab 3/Rakin/lab1_proto.py
Lab 3/Rakin/dogshit.py
Lab 3/Rakin/lab1_tools.py
tidigits*
.conda*
traindata.npz
testdata.npz
Lab 3/Hasan/z43a.lab
Lab 3/Hasan/path.py


Lab 3/Rakin/Data/train_data.npz
/Lab 3/Rakin/Data




runs*
*npy

LibriSpeech/
train-clean-100.tar.gz
test-clean.tar.gz
dev-clean.tar.gz